In [1]:
import pandas as pd

In [22]:
def load_csv(file_path: str) -> pd.DataFrame:
    """
    Loads a CSV file into a pandas DataFrame.
    
    Args:
    - file_path: Path to the CSV file.
    
    Returns:
    - A DataFrame containing the data from the CSV file.
    """
    try:
        df = pd.read_csv(file_path)
        print(f"File '{file_path}' loaded successfully.")
        return df
    except Exception as e:
        print(f"Error loading file '{file_path}': {e}")
        return None

# Example usage:
# file_path = 'path_to_file.csv'
# df = load_csv(file_path)

In [23]:
file_path = '03_Library Systembook.csv'
df = load_csv(file_path)

if df is not None:
    print(df.head())  # Display the first few rows of the loaded CSV

File '03_Library Systembook.csv' loaded successfully.
    Id                                     Books Book checkout Book Returned  \
0  1.0                       Catcher in the Rye   "20/02/2023"    25/02/2023
1  2.0          Lord of the rings the two towers  "24/03/2023"    21/03/2023
2  3.0  Lord of the rings the return of the kind  "29/03/2023"    25/03/2023
3  4.0                                The hobbit  "02/04/2023"    25/03/2023
4  5.0                                     Dune   "02/04/2023"    25/03/2023

  Days allowed to borrow  Customer ID
0                2 weeks          1.0
1                2 weeks          2.0
2                2 weeks          3.0
3                2 weeks          4.0
4                2 weeks          5.0

In [24]:
file_path2 = '03_Library SystemCustomers.csv'
df2 = load_csv(file_path2)

if df2 is not None:
    print(df2.head())  # Display the first few rows of the loaded CSV

File '03_Library SystemCustomers.csv' loaded successfully.
   Customer ID   Customer Name
0          1.0        Jane Doe
1          2.0      John Smith
2          3.0      Dan Reeves
3          NaN             NaN
4          5.0  William Holden

In [33]:
def drop_na_and_log(data: pd.DataFrame, column_name: str) -> pd.DataFrame:
    """
    Drops rows with NaN values in a specific column, logs the number of rows dropped and the total number of records, 
    and returns a log DataFrame for auditing.
    
    Args:
    - data: The DataFrame to clean.
    - column_name: The column name to check for NaN values.
    
    Returns:
    - A tuple containing the cleaned DataFrame and a DataFrame containing the audit log of dropped records.
    """
    # Record the number of rows before dropping NaN
    initial_row_count = len(data)
    
    # Drop rows where the specified column has NaN values
    data_cleaned = data.dropna(subset=[column_name])
    
    # Record the number of rows after dropping NaN
    final_row_count = len(data_cleaned)
    
    # Log the number of records dropped and total records before and after
    dropped_records = initial_row_count - final_row_count
    log_data = {
        'Column Name': [column_name],
        'Records Before Drop': [initial_row_count],
        'Records Dropped': [dropped_records],
        'Records After Drop': [final_row_count]
    }
    
    # Create the log DataFrame
    log_df = pd.DataFrame(log_data)
    
    return data_cleaned, log_df

# Example usage:
# Assuming 'Book checkout' is the column where you want to drop NaN values
# cleaned_data, audit_log = drop_na_and_log(cleaned_data, 'Book checkout')

# Print cleaned data and audit log
# print(cleaned_data)
# print(audit_log)

In [34]:
# Applying the function
cleaned_data_customer, audit_log_customer = drop_na_and_log(df2, 'Customer ID')

# Print cleaned data and audit log
print(cleaned_data_customer)
print(audit_log_customer)

   Customer ID     Customer Name
0          1.0          Jane Doe
1          2.0        John Smith
2          3.0        Dan Reeves
4          5.0    William Holden
5          6.0     Jaztyn Forest
6          7.0     Jackie Irving
7          8.0  Matthew Stirling
8          9.0         Emory Ted
   Column Name  Records Before Drop  Records Dropped  Records After Drop
0  Customer ID                    9                1                   8

In [25]:
def clean_and_format_data(data: pd.DataFrame, date_columns: list, string_columns: list, drop_na: bool = True) -> pd.DataFrame:
    """
    Cleans and formats the dataset by:
    - Stripping unwanted characters from string columns.
    - Converting specified columns to datetime format.
    - Optionally dropping rows with NaN values.

    Args:
    - data: The DataFrame to clean.
    - date_columns: List of column names to convert to datetime.
    - string_columns: List of column names to clean (remove unwanted characters).
    - drop_na: Whether to drop rows with NaN values (default is True).

    Returns:
    - A cleaned and formatted DataFrame.
    """
    # Clean string columns by removing unwanted characters (like quotes)
    for column in string_columns:
        data[column] = data[column].str.replace('"', "", regex=True)
    
    # Convert specified columns to datetime format
    for column in date_columns:
        data[column] = pd.to_datetime(data[column], errors='coerce')  # Use 'coerce' to handle invalid formats

    # Drop rows with NaN values if specified
    if drop_na:
        data = data.dropna()

    return data

# Example usage:
# Assuming 'Book checkout' and 'Book Returned' are the columns to clean and format
# data = pd.DataFrame({
#     'Book checkout': ['"2023-01-01"', '"2023-02-01"', None],
#     'Book Returned': ['"2023-01-10"', '"2023-02-15"', '"Invalid Date"']
# })

# Clean and format the data
cleaned_data = clean_and_format_data(df, date_columns=['Book checkout', 'Book Returned'], string_columns=['Book checkout', 'Book Returned'])

print(cleaned_data)

      Id                                     Books Book checkout  \
0    1.0                       Catcher in the Rye     2023-02-20
1    2.0          Lord of the rings the two towers    2023-03-24
2    3.0  Lord of the rings the return of the kind    2023-03-29
3    4.0                                The hobbit    2023-04-02
4    5.0                                     Dune     2023-04-02
5    6.0                              Little Women    2023-04-02
6    7.0                                        IT    2063-04-10
7    8.0                                   Misery     2023-04-15
8    9.0                                  Catch 22    2023-04-15
9   10.0                              Animal Farm     2023-04-20
10  11.0                                      1984    2023-04-23
11  12.0                              Little Women    2023-04-02
12  13.0                              East of Eden    2023-04-30
13  14.0                   America Is in the Heart    2023-05-01
14  15.0                         Wuthering Heights    2023-05-01
15  16.0                                Dark Tales    2023-05-15
17  18.0                            Les Miserables    2023-06-03
18  19.0                                   Dracula    2023-06-10
19  20.0                              Frankenstein    2023-06-01

   Book Returned Days allowed to borrow  Customer ID
0     2023-02-25                2 weeks          1.0
1     2023-03-21                2 weeks          2.0
2     2023-03-25                2 weeks          3.0
3     2023-03-25                2 weeks          4.0
4     2023-03-25                2 weeks          5.0
5     2023-05-01                2 weeks          1.0
6     2023-04-03                2 weeks          6.0
7     2023-04-03                2 weeks          7.0
8     2023-04-16                2 weeks          7.0
9     2023-04-24                2 weeks          2.0
10    2023-04-27                2 weeks          8.0
11    2023-05-01                2 weeks          1.0
12    2023-05-05                2 weeks          2.0
13    2023-05-07                2 weeks          3.0
14    2023-05-10                2 weeks          9.0
15    2023-06-01                2 weeks          2.0
17    2023-06-07                2 weeks          5.0
18    2023-07-10                2 weeks         10.0
19    2023-06-20                2 weeks          2.0

C:\Users\Admin\AppData\Local\Temp\ipykernel_2696\1138206385.py:23: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data[column] = pd.to_datetime(data[column], errors='coerce')  # Use 'coerce' to handle invalid formats
C:\Users\Admin\AppData\Local\Temp\ipykernel_2696\1138206385.py:23: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data[column] = pd.to_datetime(data[column], errors='coerce')  # Use 'coerce' to handle invalid formats

In [26]:
def calculate_day_diff(data: pd.DataFrame, checkout_column: str, return_column: str) -> pd.DataFrame:
    """
    Calculates the number of days between two date columns and adds a new column 'day_diff'.
    
    Args:
    - data: The DataFrame containing the date columns.
    - checkout_column: The name of the 'Book checkout' column.
    - return_column: The name of the 'Book Returned' column.
    
    Returns:
    - The DataFrame with a new column 'day_diff' showing the number of days between the two dates.
    """
    # Calculate the difference in days between the two date columns
    data['day_diff'] = (data[return_column] - data[checkout_column]).dt.days
    
    return data

In [28]:
# Assuming 'Book checkout' and 'Book Returned' are the columns in the DataFrame
cleaned_data = calculate_day_diff(cleaned_data, 'Book checkout', 'Book Returned')

print(cleaned_data)

      Id                                     Books Book checkout  \
0    1.0                       Catcher in the Rye     2023-02-20
1    2.0          Lord of the rings the two towers    2023-03-24
2    3.0  Lord of the rings the return of the kind    2023-03-29
3    4.0                                The hobbit    2023-04-02
4    5.0                                     Dune     2023-04-02
5    6.0                              Little Women    2023-04-02
6    7.0                                        IT    2063-04-10
7    8.0                                   Misery     2023-04-15
8    9.0                                  Catch 22    2023-04-15
9   10.0                              Animal Farm     2023-04-20
10  11.0                                      1984    2023-04-23
11  12.0                              Little Women    2023-04-02
12  13.0                              East of Eden    2023-04-30
13  14.0                   America Is in the Heart    2023-05-01
14  15.0                         Wuthering Heights    2023-05-01
15  16.0                                Dark Tales    2023-05-15
17  18.0                            Les Miserables    2023-06-03
18  19.0                                   Dracula    2023-06-10
19  20.0                              Frankenstein    2023-06-01

   Book Returned Days allowed to borrow  Customer ID  day_diff
0     2023-02-25                2 weeks          1.0         5
1     2023-03-21                2 weeks          2.0        -3
2     2023-03-25                2 weeks          3.0        -4
3     2023-03-25                2 weeks          4.0        -8
4     2023-03-25                2 weeks          5.0        -8
5     2023-05-01                2 weeks          1.0        29
6     2023-04-03                2 weeks          6.0    -14617
7     2023-04-03                2 weeks          7.0       -12
8     2023-04-16                2 weeks          7.0         1
9     2023-04-24                2 weeks          2.0         4
10    2023-04-27                2 weeks          8.0         4
11    2023-05-01                2 weeks          1.0        29
12    2023-05-05                2 weeks          2.0         5
13    2023-05-07                2 weeks          3.0         6
14    2023-05-10                2 weeks          9.0         9
15    2023-06-01                2 weeks          2.0        17
17    2023-06-07                2 weeks          5.0         4
18    2023-07-10                2 weeks         10.0        30
19    2023-06-20                2 weeks          2.0        19

C:\Users\Admin\AppData\Local\Temp\ipykernel_2696\174341260.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day_diff'] = (data[return_column] - data[checkout_column]).dt.days

LOADING SQL server

In [ ]:
#!pip install pandas sqlalchemy pyodbc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (5.0.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
# Checking the ODBC Driver for SQL Server
# import pyodbc

# # List all ODBC drivers installed on the system
# drivers = [driver for driver in pyodbc.drivers()]
# print("ODBC Drivers available:")
# for driver in drivers:
#     print(driver)

ODBC Drivers available:
SQL Server
SQL Server Native Client RDA 11.0
ODBC Driver 17 for SQL Server
Microsoft Access Driver (*.mdb, *.accdb)
Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)
Microsoft Access Text Driver (*.txt, *.csv)

In [ ]:
# from sqlalchemy import create_engine

# # Define the connection string to your MS SQL Server
# server = 'localhost'  
# database = 'QAETLStagingDB'
# username = 'python_app'
# password = 'password'

# # Create the connection string with Windows Authentication
# connection_string = f'mssql+pyodbc://@{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server'


# # Create the SQLAlchemy engine
# engine = create_engine(connection_string)

In [ ]:
# # Write the DataFrame to SQL Server
# cleaned_data.to_sql('book_library', con=engine, if_exists='replace', index=False)
# cleaned_data_customer.to_sql('customer_library', con=engine, if_exists='replace', index=False)
# audit_log_customer.to_sql('audit_log_customer', con=engine, if_exists='replace', index=False)

1

CONVERTING to .PY file

In [ ]:
# Open your terminal (either in VS Code or elsewhere).

# Run the following command to convert your notebook to a .py file:

# jupyter nbconvert --to script your_notebook.ipynb


# This will generate a Python script (your_notebook.py) in the same folder as the .ipynb file, containing only the code cells.